@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 400px;
}

.input-grid {
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    width: 100%;
}

.element {
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    width: 100%;
}

.sidebar {
    background-color: #294078;
    text-align: center;
    height: 100vh;
}

.delete-button {
    border-radius: 20px;
    border: 1px solid red;
    background-color: red;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
}

.delete-button:hover {
    background-color: #e37878;
}

.add-button {
    border-radius: 20px;
    border: 1px solid green;
    background-color: green;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
}

.add-button:hover {
    background-color: #15c266;
}

.register-button {
    border-radius: 20px;
    border: 1px solid #294078;
    background-color: #294078;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
}

.register-button:hover {
    background-color: #5f8ed9;
}

.table-button {
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: black;
    font-size: 12px;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
    height: 1vh;
}

.table-button:hover {
    background-color: #FFFFFF;
}

button {
    border-radius: 20px;
    border: 1px solid #294078;
    background-color: #294078;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: 19.5vw;
}

button:hover {
    background-color: #5f8ed9;
}